databases:
  - name: redesocial-db
    databaseName: redesocial
    plan: free
    region: oregon

services:
  - type: web
    name: redesocial-api
    env: node
    region: oregon
    rootDir: backend
    buildCommand: npm install && npm run build
    startCommand: npx prisma migrate deploy && npm run seed && node dist/index.js
    healthCheckPath: /api/health
    autoDeploy: true
    envVars:
      - key: NODE_VERSION
        value: "20"
      - key: DATABASE_URL
        fromDatabase:
          name: redesocial-db
          property: connectionString
  - type: web
    name: redesocial-frontend
    runtime: static
    rootDir: frontend
    buildCommand: npm install && npm run build
    staticPublishPath: dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    envVars:
      - key: VITE_API_URL
        value: https://api-redesocial-1.onrender.com/api
