services:
  api:
    build: .
    container_name: api-rede-social
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=postgresql://admin:admin@db:5432/redesocial
      - PORT=3000
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: postgres:15
    container_name: db-rede-social
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=redesocial
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
